@model SDCode.Web.Models.EpworthViewModel
@using SDCode.Web.Classes
@{
    ViewData["Title"] = "Epworth";
}

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="wrap-content"> <!-- view-source:https://www.blf.org.uk/support-for-you/obstructive-sleep-apnoea-osa/diagnosis/epworth-sleepiness-scale -->
	<h1>Epworth Sleepiness Scale</h1>	  <p class="intro">The Epworth Sleepiness Scale is used to assess general sleepiness throughout the day.</p>

<p>How likely are you to doze off or fall asleep in the following situations, in comparison to feeling just tired? This refers to your usual way of life in recent times.</p>

<p>Even if you haven't done some of these things recently, try to work out how they would have affected you.</p>

<p>Use the following scale to choose the most appropriate number for each situation:</p>

<p>@((int)ChancesDozing.NoChance) = would never doze<br />
@((int)ChancesDozing.SlightChance) = slight chance of dozing<br />
@((int)ChancesDozing.ModerateChance) = moderate chance of dozing<br />
@((int)ChancesDozing.HighChance) = high chance of dozing</p>

<p>It's important that you answer each question as best you can.</p>

    <form action="/Home/Stanford" method="POST">
    <input type="hidden" name="participantID" value="@Model.ParticipantID" />
      <table class="table-calculator  js-table-calculator" data-results-explainer-id="epworth-calculator-results"><thead><tr><th scope="col">Situation</th>
          <th scope="col">Chance of dozing (@((int)ChancesDozing.NoChance) = low, @((int)ChancesDozing.HighChance) = high)</th>
        </tr></thead><tbody><tr><td><label for="q1">Sitting and reading</label></td>
          <td>
            <select class="js-table-calculator-select" id="q1" name="reading"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr><tr><td><label for="q2">Watching TV</label></td>
          <td>
            <select class="js-table-calculator-select" id="q2" name="tv"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr><tr><td><label for="q3">Sitting still in a public place (e.g. a theatre, a cinema or a meeting)</label></td>
          <td>
            <select class="js-table-calculator-select" id="q3" name="publicplace"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr><tr><td><label for="q4">As a passenger in a car for an hour without a break</label></td>
          <td>
            <select class="js-table-calculator-select" id="q4" name="passengercar"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr><tr><td><label for="q5">Lying down to rest in the afternoon when the circumstances allow</label></td>
          <td>
            <select class="js-table-calculator-select" id="q5" name="afternoon"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr><tr><td><label for="q6">Sitting and talking to someone</label></td>
          <td>
            <select class="js-table-calculator-select" id="q6" name="talking"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr><tr><td><label for="q7">Sitting quietly after lunch without having drunk alcohol</label></td>
          <td>
            <select class="js-table-calculator-select" id="q7" name="lunch"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr><tr><td><label for="q8">In a car or bus while stopped for a few minutes in traffic</label></td>
          <td>
            <select class="js-table-calculator-select" id="q8" name="traffic"><option selected="selected" disabled="disabled">Chance:</option><option value="@((int)ChancesDozing.NoChance)">@((int)ChancesDozing.NoChance) (would never doze)</option><option value="@((int)ChancesDozing.SlightChance)">@((int)ChancesDozing.SlightChance) (slight chance)</option><option value="@((int)ChancesDozing.ModerateChance)">@((int)ChancesDozing.ModerateChance) (moderate chance)</option><option value="@((int)ChancesDozing.HighChance)">@((int)ChancesDozing.HighChance) (high chance)</option></select></td>
        </tr></tfoot></table>
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>
      </form>
</div>