@model SDCode.Web.Models.EpworthViewModel
@using SDCode.Web.Classes
@{
    ViewData["Title"] = "Epworth";
}

@await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")

<div> <!-- view-source:https://www.blf.org.uk/support-for-you/obstructive-sleep-apnoea-osa/diagnosis/epworth-sleepiness-scale -->
  
  <div class="orientationContainer rounded">
    <p>The following questions relate to your general sleepiness throughout the day.</p>
    <p>How likely are you to doze off or fall asleep in the following situations, in comparison to feeling just tired? This refers to your usual way of life in recent times.</p>
    <p>Even if you haven't done some of these things recently, try to work out how they would have affected you.</p>
    <p>For each situation below, answer each question as best you can.</p>
  </div>
  <form action="@Url.Action("Index", "Debrief")" method="POST">
    <input type="hidden" name="participantID" value="@Model.ParticipantID" />
    <fieldset>
      <legend><label>Sitting and reading</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q1.@((int)ChancesDozing.WouldNever)" name="reading" value="@((int)ChancesDozing.WouldNever)"> <label for="q1.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q1.@((int)ChancesDozing.SlightChance)" name="reading" value="@((int)ChancesDozing.SlightChance)"> <label for="q1.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q1.@((int)ChancesDozing.ModerateChance)" name="reading" value="@((int)ChancesDozing.ModerateChance)"> <label for="q1.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q1.@((int)ChancesDozing.HighChance)" name="reading" value="@((int)ChancesDozing.HighChance)"> <label for="q1.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><label>Watching TV</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q2.@((int)ChancesDozing.WouldNever)" name="tv" value="@((int)ChancesDozing.WouldNever)"> <label for="q2.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q2.@((int)ChancesDozing.SlightChance)" name="tv" value="@((int)ChancesDozing.SlightChance)"> <label for="q2.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q2.@((int)ChancesDozing.ModerateChance)" name="tv" value="@((int)ChancesDozing.ModerateChance)"> <label for="q2.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q2.@((int)ChancesDozing.HighChance)" name="tv" value="@((int)ChancesDozing.HighChance)"> <label for="q2.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><label>Sitting still in a public place (e.g. a theatre, a cinema, or a meeting)</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q3.@((int)ChancesDozing.WouldNever)" name="publicplace" value="@((int)ChancesDozing.WouldNever)"> <label for="q3.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q3.@((int)ChancesDozing.SlightChance)" name="publicplace" value="@((int)ChancesDozing.SlightChance)"> <label for="q3.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q3.@((int)ChancesDozing.ModerateChance)" name="publicplace" value="@((int)ChancesDozing.ModerateChance)"> <label for="q3.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q3.@((int)ChancesDozing.HighChance)" name="publicplace" value="@((int)ChancesDozing.HighChance)"> <label for="q3.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><label>As a passenger in a car for an hour without a break</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q4.@((int)ChancesDozing.WouldNever)" name="passengercar" value="@((int)ChancesDozing.WouldNever)"> <label for="q4.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q4.@((int)ChancesDozing.SlightChance)" name="passengercar" value="@((int)ChancesDozing.SlightChance)"> <label for="q4.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q4.@((int)ChancesDozing.ModerateChance)" name="passengercar" value="@((int)ChancesDozing.ModerateChance)"> <label for="q4.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q4.@((int)ChancesDozing.HighChance)" name="passengercar" value="@((int)ChancesDozing.HighChance)"> <label for="q4.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><label>Lying down to rest in the afternoon when the circumstances allow</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q5.@((int)ChancesDozing.WouldNever)" name="afternoon" value="@((int)ChancesDozing.WouldNever)"> <label for="q5.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q5.@((int)ChancesDozing.SlightChance)" name="afternoon" value="@((int)ChancesDozing.SlightChance)"> <label for="q5.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q5.@((int)ChancesDozing.ModerateChance)" name="afternoon" value="@((int)ChancesDozing.ModerateChance)"> <label for="q5.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q5.@((int)ChancesDozing.HighChance)" name="afternoon" value="@((int)ChancesDozing.HighChance)"> <label for="q5.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><label>Sitting and talking to someone</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q6.@((int)ChancesDozing.WouldNever)" name="talking" value="@((int)ChancesDozing.WouldNever)"> <label for="q6.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q6.@((int)ChancesDozing.SlightChance)" name="talking" value="@((int)ChancesDozing.SlightChance)"> <label for="q6.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q6.@((int)ChancesDozing.ModerateChance)" name="talking" value="@((int)ChancesDozing.ModerateChance)"> <label for="q6.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q6.@((int)ChancesDozing.HighChance)" name="talking" value="@((int)ChancesDozing.HighChance)"> <label for="q6.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><label>Sitting quietly after lunch without having drunk alcohol</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q7.@((int)ChancesDozing.WouldNever)" name="lunch" value="@((int)ChancesDozing.WouldNever)"> <label for="q7.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q7.@((int)ChancesDozing.SlightChance)" name="lunch" value="@((int)ChancesDozing.SlightChance)"> <label for="q7.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q7.@((int)ChancesDozing.ModerateChance)" name="lunch" value="@((int)ChancesDozing.ModerateChance)"> <label for="q7.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q7.@((int)ChancesDozing.HighChance)" name="lunch" value="@((int)ChancesDozing.HighChance)"> <label for="q7.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><label>In a car or bus while stopped for a few minutes in traffic</label></legend>
      <div class="form-row">
        <div class="col-auto">
          <input type="radio" id="q8.@((int)ChancesDozing.WouldNever)" name="traffic" value="@((int)ChancesDozing.WouldNever)"> <label for="q8.@((int)ChancesDozing.WouldNever)">Would never doze</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q8.@((int)ChancesDozing.SlightChance)" name="traffic" value="@((int)ChancesDozing.SlightChance)"> <label for="q8.@((int)ChancesDozing.SlightChance)">Slight chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q8.@((int)ChancesDozing.ModerateChance)" name="traffic" value="@((int)ChancesDozing.ModerateChance)"> <label for="q8.@((int)ChancesDozing.ModerateChance)">Moderate chance</label>
        </div>
        <div class="col-auto ml-4">
          <input type="radio" id="q8.@((int)ChancesDozing.HighChance)" name="traffic" value="@((int)ChancesDozing.HighChance)"> <label for="q8.@((int)ChancesDozing.HighChance)">High chance</label>
        </div>
      </div>
    </fieldset>
    @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("Next"))
  </form>
</div>