@model TestInstructionsViewModel
@using SDCode.Web.Classes
@{
    var confidenceDescriptions = Model.ConfidenceDescriptions.ToDictionary(x=>Enum.Parse(typeof(Confidences), x.Key), x=>x.Value);
}
<p>
    Your task is to indicate whether each image is "@Model.OldJudgementsDescription.ToLower()" or "@Model.NewJudgementsDescription.ToLower()".  You will also be asked to rate how confident you are in each response
    on a scale of 1 to 4 with 1 being "@(confidenceDescriptions[Confidences.NotConfident])" and 4 being "@(confidenceDescriptions[Confidences.VeryConfident])". 
</p>
<div class="keysContainer">
    <div class="row keysRow">
        <div class="col-md-2"><img src="/img/keys/LeftArrow.png"></div>
        <div class="col-md-2"><img src="/img/keys/RightArrow.png"></div>
        <div class="col-md-2"><img src="/img/keys/key1.png"></div>
        <div class="col-md-2"><img src="/img/keys/key2.png"></div>
        <div class="col-md-2"><img src="/img/keys/key3.png"></div>
        <div class="col-md-2"><img src="/img/keys/key4.png"></div>
    </div>
    <div class="row keysRow">
        <div class="col-md-2">@(Model.OldJudgementsDescription)</div>
        <div class="col-md-2">@(Model.NewJudgementsDescription)</div>
        <div class="col-md-2">@(confidenceDescriptions[Confidences.NotConfident])</div>
        <div class="col-md-2">@(confidenceDescriptions[Confidences.SomewhatConfident])</div>
        <div class="col-md-2">@(confidenceDescriptions[Confidences.Confident])</div>
        <div class="col-md-2">@(confidenceDescriptions[Confidences.VeryConfident])</div>
    </div>    
</div>
<p>
    This session is mostly self-paced.  The next image will automatically be presented after the confidence rating is provided.
    Please pay attention and answer as accurately as possible.    
</p>
@* Don't copy this HTML to other files. Instead, re-use this HTML in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/TestInstructions.cshtml", new ActionBarViewModel("Next"))

*@