@using System.Text.RegularExpressions
@using SDCode.Web.Classes
@functions {
    public static string GetDescription(Confidences confidence) { // https://stackoverflow.com/a/5796427/116895
        return Regex.Replace(Enum.GetName(typeof(Confidences), confidence), "(\\B[A-Z])", " $1");
    }
}
<p>
    Your task is to indicate whether each image is "old" or "new".  You will also be asked to rate how confident you are in each response
    on a scale of 1 to 4 with 1 being "@(GetDescription(Confidences.NotConfident))" and 4 being "@(GetDescription(Confidences.VeryConfident))". 
</p>
<div class="keysContainer">
    <div class="row keysRow">
        <div class="col-md-2"><img src="/img/keys/LeftArrow.png"></div>
        <div class="col-md-2"><img src="/img/keys/RightArrow.png"></div>
        <div class="col-md-2"><img src="/img/keys/key1.png"></div>
        <div class="col-md-2"><img src="/img/keys/key2.png"></div>
        <div class="col-md-2"><img src="/img/keys/key3.png"></div>
        <div class="col-md-2"><img src="/img/keys/key4.png"></div>
    </div>
    <div class="row keysRow">
        <div class="col-md-2">@(Enum.GetName(typeof(Judgements), Judgements.Old))</div>
        <div class="col-md-2">@(Enum.GetName(typeof(Judgements), Judgements.New))</div>
        <div class="col-md-2">@(GetDescription(Confidences.NotConfident))</div>
        <div class="col-md-2">@(GetDescription(Confidences.SomewhatConfident))</div>
        <div class="col-md-2">@(GetDescription(Confidences.Confident))</div>
        <div class="col-md-2">@(GetDescription(Confidences.VeryConfident))</div>
    </div>    
</div>
<p>
    This session is mostly self-paced.  The next image will automatically be presented after the confidence rating is provided.
    Please pay attention and answer as accurately as possible.    
</p>
@* Don't copy this HTML to other files. Instead, re-use this HTML in other files, with this syntax:

@await Html.PartialAsync("~/Views/Shared/TestInstructions.cshtml", new ActionBarViewModel("Next"))

*@