@model SDCode.Web.Models.TestIndexViewModel
@using SDCode.Web.Classes;
@{
    ViewData["Title"] = "Test";
}
<style>
    .container {
        max-width: 830px;
    }
</style>
@section Scripts {
    <script src="~/js/testPhase.js" asp-append-version="true"></script>
    <script>
        var initOptions = @Html.Raw(Json.Serialize(Model));
        initOptions.shouldAutomate = @($"{Model.ShouldAutomate}".ToLower());
        initOptions.responseDataUrl = '@Url.Action("ResponseData")';
        initOptions.questionsUrl = '@Url.Action("Questions")';
        initOptions.endUrl = '@Url.Action("End")';
        initOptions.feedbacksCorrectDisplay = '@(Enum.GetName(typeof(Feedbacks), Feedbacks.Correct))';
        initOptions.feedbacksIncorrectDisplay = '@(Enum.GetName(typeof(Feedbacks), Feedbacks.Incorrect))';
        initOptions.judgementsOld = @((int)Judgements.Old);
        initOptions.judgementsNew = @((int)Judgements.New);
        initOptions.confidencesNotConfident = @((int)Confidences.NotConfident);
        initOptions.confidencesSomewhatConfident = @((int)Confidences.SomewhatConfident);
        initOptions.confidencesConfident = @((int)Confidences.Confident);
        initOptions.veryConfident = @((int)Confidences.VeryConfident);
        initOptions.getImageUrl = '@Url.Action("GetImage")';
        testInit(initOptions);        
    </script>
}

@* https://stackoverflow.com/a/6182661/116895 *@
<div id="imageViewer" class="outer">
  <div class="middle">
    <div class="inner">
        <div id="loadingDiv">
            <div>Images are loading. Please wait.</div>
            <div style="margin-top: 10px;"><progress id="progressBar" value="0" max="100"></progress></div>
            <div><span>Loading Images: </span><span id="loadingPercentageSpan">0</span><span>%</span></div>
        </div>
        <div id="imageContainer" style="display: none;">
            <table>
                <tr>
                    <td class="arrows" style="padding-right: 7px; width: 75px;">&lsaquo; @Model.OldDescription</td>
                    <td><img id="image" /></td>
                    <td class="arrows" style="padding-left: 7px; width: 75px;">@Model.NewDescription &rsaquo;</td>
                </tr>
            </table>
        </div>
        <div id="confidence" class="testBox" style="display: none;">
            <div>
                <p>How confident are you in your answer?</p>
                <div>
                    <table style="margin: auto;">
                        @foreach ((string confidence, string description) in Model.ConfidenceDescriptions) {
                            <tr>
                                <td style="text-align: right;">@confidence</td>
                                <td style="text-align: center; padding-left: 3px; padding-right: 3px;">-</td>
                                <td style="text-align: left;">@description</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div id="feedback" class="testBox" style="display: none;">
            <div id="feedbackMessage"></div>
        </div>
        <div id="wait" class="testBox" style="display: none;">
            <div>
                Please wait.
            </div>
        </div>
        <div id="retryFirstImageContainer" class="testBox" style="display: none;">
            <div>
                <p>Image failed to load.</p>
                <button id="retryFirstImageButton">Try again</button>
            </div>
        </div>
        <div id="unableToLoadImages" class="textBox" style="display: none;">
            <div>Unable to load images.  Please contact the researcher (@(await Html.PartialAsync("~/Views/Shared/ResearcherEmailLink.cshtml"))).</div>
        </div>

    </div>
  </div>
</div>
<div>
    <form id="nextActionForm" method="POST"> 
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        <input type="hidden" name="testName" value="@Model.TestName" />
        <input type="hidden" id="obscuredIndexesCommaDelimited" name="obscuredIndexesCommaDelimited" />
    </form>
</div>