@model SDCode.Web.Models.TestWelcomeBackViewModel
@using SDCode.Web.Classes;
@{
    ViewData["Title"] = "Welcome Back";
}

@if (Model.Action == ReturningUserAction.NewUser) {
    @await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")
    <div class="orientationContainer">
        <p>It looks like you are a New Participant. Please proceed by clicking "New Participant" below.</p>
    </div>
    <p>@await Html.PartialAsync("~/Views/Shared/Mistake.cshtml")</p>
    <form action="@Url.Action("Welcome", "Home")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        @await Html.PartialAsync("~/Views/Shared/ActionBar.cshtml", new ActionBarViewModel("New Participant"))
    </form>
} else if (Model.Action == ReturningUserAction.Wait) {
    @await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")
    <div class="orientationContainer">
        <p>It looks like you are trying to access the next session too soon.  See below for your next session time.</p>
    </div>
    var whenToDisplay = @Model.NextTestWhenUtc?.AddMinutes(1);
    <p>Next session available at: @whenToDisplay?.ToString("MM/dd/yyyy") @whenToDisplay?.ToString("h:mm tt") UTC</p>
    <p>@await Html.PartialAsync("~/Views/Shared/Mistake.cshtml")</p>
} else if (Model.Action == ReturningUserAction.TooLate) {
    @await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")
    <div class="orientationContainer">
        <p>It looks like too much time has passed since your last session.</p>
    </div>
    <p>Please email the researcher at @await Html.PartialAsync("~/Views/Shared/ResearcherEmailLink.cshtml").</p> @* todo mlh refactor email address to re-use *@
} else {
    if (Model.Action == ReturningUserAction.Stanford) {
        @await Html.PartialAsync("~/Views/Shared/LogoBanner.cshtml")
        @await Html.PartialAsync("~/Views/ImageCheck/StanfordForm.cshtml", new StanfordFormViewModel(Model.ParticipantID, Url.Action("Index"), false))
    } else {
        <form action="@Url.Action("Index", "ImageCheck")" method="POST">
            <input type="hidden" name="nextActionAfterImageCheck" value="@Url.Action("Index")" />
            <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        </form>
        <script>
            document.getElementsByTagName('form')[0].submit();
        </script>
    }                                                                
}