@model SDCode.Web.Models.TestWelcomeBackViewModel
@using SDCode.Web.Classes;
@{
    ViewData["Title"] = "Welcome Back";
}

@if (Model.Action == TestWelcomeBackAction.NewUser) {
    <div>
        It looks like you are a New User.  Please return to the home page to select "New Participant."
        If you feel you have reached this page by mistake, please email the researcher at evm517@york.ac.uk
    </div>
    <form action="@Url.Action("Welcome", "Home")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="GOTO_NEW_USER_TEXT_PLACEHOLDER"/>
        </div>
    </form>
} else if (Model.Action == TestWelcomeBackAction.Wait) {
    <div>
        It looks like you are trying to access the study outside of testing hours.  See below for your next session time.
        If you feel you have reached this page by mistake, please email the researcher at evm517@york.ac.uk
    </div>
    <div>
        @{
            var whenToDisplay = @Model.NextTestWhenUtc?.AddMinutes(1);
        }
        Test available at: @whenToDisplay?.ToString("MM/dd/yyyy") @whenToDisplay?.ToString("h:mm tt") UTC
    </div>
} else if (Model.Action == TestWelcomeBackAction.Done) {
    <span>TESTS_DONE_PLACEHOLDER</span>
} else {
    @* todo mlh refactor this to new Partial so it re-uses views/home/stanford.cshtml instead of exactly duplicating it *@
  <form action="/ImageCheck" method="POST">
    <input type="hidden" name="nextActionAfterImageCheck" value="@Url.Action("Index")" />
    <input type="hidden" name="participantID" value="@Model.ParticipantID" />
     <fieldset>
         @if (Model.Action == TestWelcomeBackAction.Stanford) {
            <div>
                Stanford Sleepiness Scale
            </div>
            <legend>This is a quick way to assess how alert you are feeling CURRENTLY.<br/>
                <br/>
                Please select the option that best describes how sleepy you are feeling right now.</legend>
                <br/>
            <div>
                <input type="radio" id="1" name="stanford" value="@((int)Sleepinesses.WideAwake)">
                <label for="1">Feeling active, vital, alert, or wide awake</label><br/>
                <input type="radio" id="2" name="stanford" value="@((int)Sleepinesses.FunctioningOffPeak)">
                <label for="2">Functioning at high levels, but not at peak; able to concentrate</label><br/>
                <input type="radio" id="3" name="stanford" value="@((int)Sleepinesses.AwakeButRelaxed)">
                <label for="3">Awake, but relaxed; responsive but not fully alert</label><br/>
                <input type="radio" id="4" name="stanford" value="@((int)Sleepinesses.SomewhatFoggy)">
                <label for="4">Somewhat foggy, let down</label><br/> 
                <input type="radio" id="5" name="stanford" value="@((int)Sleepinesses.SlowedDown)">
                <label for="5">Foggy; losing interest in remaining awake; slowed down</label><br/>
                <input type="radio" id="6" name="stanford" value="@((int)Sleepinesses.FightingSleep)">
                <label for="6">Sleepy, woozy, fighting sleep; prefer to lie down</label><br/>
                <input type="radio" id="7" name="stanford" value="@((int)Sleepinesses.SleepSoon)">
                <label for="7">No longer fighting sleep, sleep onset soon; having dream-like thoughts</label><br/>                                
            </div>       
            <br/>
         } else {
             <div>
                @await Html.PartialAsync($"Welcome{Model.TestName}")
            </div>
         }
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="Next"/>
        </div>                                                                 
  </fieldset>
</form>

}