@model SDCode.Web.Models.TestWelcomeBackViewModel
@using SDCode.Web.Classes;
@{
    ViewData["Title"] = "Welcome Back";
}

@if (Model.Action == TestWelcomeBackAction.NewUser) {
    <div>
        It looks like you are a New User.  Please return to the home page to select "New Participant."
        If you feel you have reached this page by mistake, please email the researcher at evm517@york.ac.uk
    </div>
    <form action="@Url.Action("Welcome", "Home")" method="POST">
        <input type="hidden" name="participantID" value="@Model.ParticipantID" />
        <div style="text-align: right;">
            <input style="margin-right: 50px;" type="submit" value="GOTO_NEW_USER_TEXT_PLACEHOLDER"/>
        </div>
    </form>
} else if (Model.Action == TestWelcomeBackAction.Wait) {
    <div>
        It looks like you are trying to access the study outside of testing hours.  See below for your next session time.
        If you feel you have reached this page by mistake, please email the researcher at evm517@york.ac.uk
    </div>
    <div>
        @{
            var whenToDisplay = @Model.NextTestWhenUtc?.AddMinutes(1);
        }
        Test available at: @whenToDisplay?.ToString("MM/dd/yyyy") @whenToDisplay?.ToString("h:mm tt") UTC
    </div>
} else if (Model.Action == TestWelcomeBackAction.Done) {
    <span>TESTS_DONE_PLACEHOLDER</span>
} else {
         if (Model.Action == TestWelcomeBackAction.Stanford) {
            @await Html.PartialAsync("~/Views/Home/LogoBanner.cshtml")
            @await Html.PartialAsync("~/Views/ImageCheck/StanfordForm.cshtml", new StanfordFormViewModel(Model.ParticipantID, Url.Action("Index")))
         } else {
            <form action="/ImageCheck" method="POST">
                <input type="hidden" name="nextActionAfterImageCheck" value="@Url.Action("Index")" />
                <input type="hidden" name="participantID" value="@Model.ParticipantID" />
                <div>
                    @await Html.PartialAsync($"Welcome{Model.TestName}")
                </div>
                <div style="text-align: right;">
                    <input style="margin-right: 50px;" type="submit" value="Next"/>
                </div> 
            </form>
         }                                                                
}