@model LegendCsvViewModel
@{
    ViewData["Title"] = "CSV Legend";
}

<style>
    table.file {
        margin-left: 10px;
    }
    div.codes {
        margin-left: 30px;
        color: lightgray;
    }
    div.codes:hover {
        color: gray;
    }
    div.codes span {
        margin-left: 5px;
    }
    div.columnName {
        margin-left: 5px;
        margin-right: 10px;
    }
    div.columnName span {
        font-weight: bold;
    }
    div.columnDescription {
        margin-left: 10px;
    }
    div.columnDescription span {
        margin-left: 10px;
        font-style: italic;
    }
    fieldset {
        margin-top: 20px;
    }
    legend span {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">CSV Legend</h1>
    <p>Guide to CSV file headers</p>
        @foreach (var file in Model.Files)
        {
            var borderClass = "";
            <fieldset class="border p-2">
                <legend  class="w-auto"><span>@file.Name @(string.IsNullOrWhiteSpace(file.Description) ? string.Empty : " - ") @file.Description</span></legend>
                @foreach (var column in file.Columns) {
                    <div class="row @borderClass columnName">
                        <div class="col-md-12">
                            <span>@column.Name</span>
                        </div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(column.Description)) {
                        <div class="row columnDescription">
                            <div class="col-md-12">
                                <span>@column.Description</span>
                            </div>
                        </div>
                    }
                    <div class="row codes">
                        <div class="col-md-12">
                            @foreach (var code in column.Codes)
                            {
                                <span title="In @(file.Name), @(column.Name) values of @(code.Value) mean @(code.Meaning).">[@(code.Value):@(code.Meaning)]</span>
                            }
                        </div>
                    </div>
                    borderClass = "border-top";
                }
            </fieldset>
        }
</div>
