@model LegendCsvViewModel
@{
    ViewData["Title"] = "CSV Legend";
}

<style>
    table.file {
        margin-left: 10px;
    }
    div.codes {
        color: gray;
    }
    div.codes span {
        margin-left: 5px;
    }
    div.column {
        margin-top: 7px;
    }
</style>

<div class="text-right">
    <div style="background-color: Darkcyan;">  
        <img src="/img/Logo.png" style="width:200px;height:100px;"/> <!-- https://www.york.ac.uk/staff/external-relations/brand/logo/ -->
    </div>
</div>

<div class="text-align: left">
    <h1 class="display-4; text-center;">CSV Legend</h1>
    <p>LEGEND_ORIENTATION_PLACEHOLDER</p>
        @foreach (var file in Model.Files)
        {
            <h2>@file.Name</h2>
            <p><strong>@file.Description</strong></p>
            @foreach (var column in file.Columns) {
                <div class="row border-top column">
                    <div class="col-md-2">
                        @column.Name
                    </div>
                    <div class="col-md-10">
                        @column.Description
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11 codes">
                        @foreach (var code in column.Codes)
                        {
                            <span title="In @(file.Name), @(column.Name) values of @(code.Value) mean @(code.Meaning).">[@(code.Value):@(code.Meaning)]</span>
                        }
                    </div>
                </div>
            }
        }
</div>
