@model DebriefIndexViewModel
@{
    ViewData["Title"] = "Debrief";
}

@await Html.PartialAsync("~/Views/Shared/LogoMasthead.cshtml")
@await Html.PartialAsync("~/Views/Shared/FullscreenExempt.cshtml")

<div>
    <h1 class="display-5">Debrief Information</h1><br/>
    <p>Thank you for your participation in our @await Component.InvokeAsync("StudyTitle").<br/>
        <p>We are examining the effects of context, congruency and time on episodic memory.</p>
        <p>Specifically, we are looking at whether changing the background of a target item influences how well an observer is able to recognise the item as having been previously seen.  
            In this study, you viewed a series of pictures or words.  We will be comparing the effects context, congruency and time have on both verbal and visual recognition memory 
            to see how each, individually and in combination, contribute to the consolidation of episodic memories in both domains.
        </p>
        <p>Please feel free to contact the 
            @if (Model.Researchers.Count == 1) {
                var researcher = @Model.Researchers.Single();
                <span>researcher @researcher.Name - <a href="mailto:@researcher.EmailAddress">@researcher.EmailAddress</a>.</span>
            } else if (Model.Researchers.Count > 1) {
                <span>
                    researchers:
                    <ul>
                        @foreach (var researcher in Model.Researchers)
                        {
                            <li>@researcher.Name - <a href="mailto:@researcher.EmailAddress">@researcher.EmailAddress</a></li>
                        }
                    </ul>
                </span>
            } else {
                <span>researcher(s).</span>
            }
        </p>
    </p>
    <p>@await Html.PartialAsync("~/Views/Shared/Close.cshtml")</p>
</div>